<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hobby.mapper.AdminMapper">

<resultMap id="cbMem" type="com.hobby.domain.ClubVO">
 	<result property="usrNum" column="usrNum" />
 
    <result property="usrName" column="usrName" />
    <result property="cbMemIntro" column="cbMemIntro" />
    <result property="cbAppDate" column="cbAppDate" />  
    <result property="cbMbStResult" column="cbMbStResult" />  
    <result property="cbNum" column="cbNum" />  
    <result property="cbType" column="cbType" />  
    <result property="cbName" column="cbName" />  
    <result property="cbJoinStateUpdateDate" column="cbJoinStateUpdateDate" />  
    <result property="cbJoinStateResult" column="cbJoinStateResult" />  
    <association property="userVO" javaType="com.hobby.domain.UserVO">
    	<id column="usrId" property="usrId"/>
		<result column="usrBirth" property="usrBirth"/>
		<result column="usrGender" property="usrGender"/>
    </association>
</resultMap>
	<select id="getUserList" resultType="com.hobby.domain.UserVO">
		select * from TBLUSER where USRSTATE = '회원'
	</select>
	
	<select id="getUser" resultType="com.hobby.domain.UserVO">
		select * from USERDETAIL,TBLUSER where USRID = #{id} AND USERDETAIL.usrNum = TBLUSER.usrNum
	</select>
	
	<update id="updateBanUser">
		update TBLUSER
		set USRSTATE = '강퇴'
		where USRNUM = #{usrNum} 
	</update>

	<update id="shutClub">
		update CLUB
		set CBFINALSTATE = '강제폐쇄',
		CBSHUTDATE = sysdate
		where CBNUM = #{cbNum} 
	</update>
	
	<update id="updateClubLeader">
		update CLUB
		set CBLEADERNUM = #{usrNum},
		CBLEADERNAME = #{usrName}
		where CBNUM = #{cbNum} 
	</update>
	
	<select id="getBanLeaveUser" resultType="com.hobby.domain.UserVO">
		select * from TBLUSER where USRSTATE = '강퇴' or USRSTATE = '사이트탈퇴'
	</select>
	
	<select id="getClubList" resultType="com.hobby.domain.ClubVO">
		select * from CLUB WHERE CBFINALSTATE = '진행중' order by cbnum desc
	</select>
	
	<select id="getClubMemberList" resultMap="cbMem">
		select tbluser.usrName,tbluser.usrNum from tbluser, clubjoinhistory where cbnum = #{cbNum} and clubjoinhistory.usrnum = tbluser.usrnum and clubjoinhistory.cbjoinstateresult = '가입승인' and  (clubjoinhistory.cbjoinnum,clubjoinhistory.cbnum,clubjoinhistory.usrnum) in (SELECT MAX(cbjoinnum),cbnum,usrnum FROM clubjoinhistory GROUP BY cbnum,usrnum) order by clubjoinhistory.cbjoinnum desc
	</select>
	
	<insert id="insertUserHistory">
	insert into USERHISTORY(usrHistoryNum, usrNum, usrName, usrState, usrStateUpdateDate)  
	values(userhistory_seq.nextval, #{usrNum}, #{usrName}, #{usrState}, sysdate)
	</insert>
	
	<update id="updateUserAuth">
		update userauth
		set  auth = 'ROLE_MEMBEROUT'
		where  USRNUM = #{usrNum}
	</update>
	
	<select id="getCloseClub" resultType="com.hobby.domain.ClubVO">
	
		select * from CLUB WHERE CBFINALSTATE = '폐쇄' OR CBFINALSTATE = '강제폐쇄' order by cbshutdate desc

	</select>
	
	<select id="noticeList" resultType="com.hobby.domain.NoticeVO">
   	<![CDATA[
      select * from notice,noticecontent where notice.ntNum > 0 and notice.ntnum = noticecontent.ntnum order by notice.ntNum desc
   	]]>
	</select>
	
	<!--==========공지사항 등록 ===============  -->
	<!-- 공지사항   --> 
	<insert id="insertNotice">
	    <selectKey  order="BEFORE" keyProperty="ntNum" resultType="long">
	      select notice_seq.nextval from dual 
	   </selectKey>
	   insert into notice (ntNum, ntUsrClassification, ntTitle, ntDate)
	   values (#{ntNum}, 0, #{ntTitle}, TO_CHAR(sysdate, 'YYYY-MM-DD HH24:MI:SS')) 
	</insert> 
	<!-- 공지사항 내용   -->
	<insert id="insertNotiCon">
		<selectKey  order="BEFORE" keyProperty="ntNum" resultType="long">
	      select notice_seq.currval from dual 
	   </selectKey>
	   insert into noticeContent (ntNum, ntContent)
	   values (#{ntNum}, #{ntContent}) 
	</insert>
	<!--==========공지사항 수정 ===============  -->
	<update id="updateNotice">
		update notice
		set ntTitle=#{ntTitle},ntDate= TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS')
		where ntNum = #{ntNum}
	</update>

	<update id="updateNotiCon">
	   update noticeContent
	   set ntContent=#{ntContent} 
	   where ntNum=#{ntNum}
	</update> 
	
	<!--==========공지사항 삭제 ===============  -->
	<delete id="deleteNotice">
   		delete from notice where ntNum = #{ntNum}
	</delete> 

	<delete id="deleteNotiCon">
	   delete from noticeContent where ntNum = #{ntNum}
	</delete>
	
	<!-- 일주일간 가입한 사람의 숫자 -->
	<select id="getJoinWeek" resultType="com.hobby.domain.UserVO">
		SELECT 
	    usrjoindate as weekDate,
	    COUNT(*) as memberCount
		FROM tbluser
		GROUP BY 
		usrjoindate
		having usrjoindate between sysdate-7 and sysdate order by usrjoindate desc
	</select>
	
	<select id="getTodayLoginNum" resultType="com.hobby.domain.UserVO">
	SELECT 
	    usrLoginDate,
	    COUNT(*) as memberCount
		FROM tbluser
		GROUP BY 
		usrLoginDate
        having usrLoginDate =  TO_CHAR(sysdate, 'yy/mm/dd')
	</select>
	
</mapper>