<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hobby.mapper.ClubMapper">

<insert id="clubinsertSelectKey">
   <selectKey keyProperty="cbNum" order="BEFORE" resultType="long">
      select club_seq.nextval from dual
   </selectKey>
   
   insert into club (cbLeaderNum,cbType,cbLeaderName,cbNum,cbCategory,cbSubcat,cbName,cbCity,cbDistrict,cbMbNum,cbMakeDate,cbHashtag,cbIntro,cbDetailContent,cbFile)
   values (#{cbLeaderNum},#{cbType},#{cbLeaderName},#{cbNum},#{cbCategory},#{cbSubcat},#{cbName},#{cbCity},#{cbDistrict},#{cbMbNum},sysdate,#{cbHashtag},#{cbIntro},#{cbDetailContent},#{cbFile})
</insert>

<select id="getClubList" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select * from club where cbType ='정기모임' order by cbNum desc
	]]>
</select>

<select id="readclub" resultType="com.hobby.domain.ClubVO">
	select cbNum,cbName,cbHashtag,cbIntro,cbDetailContent from club 
	where cbNum = #{cbNum}
</select>

<select id="getList" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select * from clubboard
	where cbBno > 0 and cbNum = #{cbNum}
	]]>
</select>

<select id="getListWithPaging" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select 
		cbBno, cbNum, cbBdWriter, cbBdTitle, cbBdDate, cbBdView from
		(select /*+INDEX_DESC(clubboard) */ rownum rn, cbBno, cbNum, cbBdWriter, cbBdTitle, cbBdDate, cbBdView
		from clubboard where rownum <= #{pageNum} * #{amount} and cbNum = #{cbNum}) 
	where rn > (#{pageNum} -1) * #{amount} 
	]]>
</select>

<select id="read" resultType="com.hobby.domain.ClubVO">
	select * from clubboard where cbBno = #{cbBno}
</select>

<update id="boardViews">
	update clubboard set cbBdView = cbBdView + 1 
	where cbBno = #{cbBno}
</update>

</mapper>