<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hobby.mapper.ClubMapper">

<!-- 정기모임 개설  -->
<insert id="clubinsertSelectKey"> <!--insert문이 실행되고 생성된PK값을 알아야 하는 경우-->
   <selectKey keyProperty="cbNum" order="BEFORE" resultType="long">
      select club_seq.nextval from dual
   </selectKey>
   
   insert into club (cbLeaderNum,cbType,cbLeaderName,cbNum,cbCategory,cbSubcat,cbName,cbCity,cbDistrict,cbMbNum,cbMakeDate,cbHashtag,cbIntro,cbDetailContent,cbFile)
   values (#{cbLeaderNum},#{cbType},#{cbLeaderName},#{cbNum},#{cbCategory},#{cbSubcat},#{cbName},#{cbCity},#{cbDistrict},#{cbMbNum},sysdate,#{cbHashtag},#{cbIntro},#{cbDetailContent},#{cbFile})
</insert>

<!-- 정기모임 목록  -->
<select id="getClubList" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select * from club where cbType ='정기모임' order by cbNum desc
	]]>
</select>

<!-- 정기모임 상세정보  -->
<select id="readclub" resultType="com.hobby.domain.ClubVO">
	select cbNum,cbName,cbHashtag,cbIntro,cbDetailContent from club 
	where cbNum = #{cbNum}
</select>

<!-- 정기모임 게시판 - 목록 -->
<select id="getList" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select * from clubboard
	where cbNum = #{cbNum} order by cbBno desc
	]]>
</select>

<!-- 정기모임 게시판 - 목록(페이징) -->
<select id="getListWithPaging" resultType="com.hobby.domain.ClubVO">
	<![CDATA[
	select 
		cbBno, cbNum, cbBdWriter, cbBdTitle, cbBdDate, cbBdView from
		(select /*+INDEX_DESC(clubboard) */ rownum rn, cbBno, cbNum, cbBdWriter, cbBdTitle, cbBdDate, cbBdView
		from clubboard where rownum <= #{pageNum} * #{amount} and cbNum = #{cbNum}) 
	where rn > (#{pageNum} -1) * #{amount} 
	]]>
</select>

<!-- 정기모임 게시판 - 조회 -->
<select id="read" resultType="com.hobby.domain.ClubVO">
	select c.cbBno, c.cbbdtitle, d.cbbdcontent, c.cbbdwriter 
	from CLUBBOARD c, CLUBBOARDCONTENT d
	where c.cbBno = d.cbBno and c.cbBno = #{cbBno}
</select>

<!-- 정기모임 게시판 - 등록 -->
<insert id="boardInsertSelectKey">
	<selectKey keyProperty="cbBno" order="BEFORE" resultType="long">
		 select CLUBBOARD_seq.nextval from dual
  	</selectKey>
  	
  	insert into CLUBBOARD (cbBno, cbNum, cbBdWriter, cbBdTitle, cbBdDate)
  	values (#{cbBno},#{cbNum},#{cbBdWriter},#{cbBdTitle},SYSDATE)
</insert>

<insert id="boardInsertDetail">
	insert into CLUBBOARDCONTENT (cbBno, cbNum, cbBdContent)
	values (#{cbBno},#{cbNum},#{cbBdContent})
</insert>

<!-- 정기모임 게시판 - 삭제 -->
<delete id="boardDelete">
	delete from CLUBBOARD where cbBno = #{cbBno}
</delete>

<!-- 정기모임 게시판 - 수정 -->
<update id="boardUpdate">
	update CLUBBOARD set cbBdWriter = #{cbBdWriter}, cbBdTitle=#{cbBdTitle}, cbBdDate=sysdate
	where cbBno = #{cbBno}
</update>

<update id="boardUpdateContent">
	update CLUBBOARDCONTENT set cbBdContent=#{cbBdContent}
	where cbBno = #{cbBno}
</update>

<!-- 정기모임 게시판 - 조회수 -->
<update id="boardViews">
	update CLUBBOARD set cbBdView = cbBdView + 1 
	where cbBno = #{cbBno}
</update>

</mapper>