<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.mapper.FaqMapper">

<!--===========자주묻는질문 ============  -->
<!--faq질문   -->
<select id="faqList" resultType="com.hobby.domain.FaqVO">
	<![CDATA[
		select * from faq
	]]>
</select>

<!-- faq 내용   -->
<select id="faqContent" resultType="com.hobby.domain.FaqVO">
	<![CDATA[
		select * from faqcontent,faq where faq.faqNum=faqContent.faqNum
	]]>
</select>

<!--===========일대일질문===============  -->
<!-- 일대일 문의 정보   --> 
<insert id="insertSelectKey2">
	<selectKey  order="BEFORE" keyProperty="qsNum" resultType="long">
		select question_seq.nextval from dual 
	</selectKey>
	insert into question (qsNum,usrNum,qsEmail,qsName,qsPhone,qsTitle)
	values (#{qsNum},#{usrNum}, #{qsEmail},#{qsName},#{qsPhone},#{qsTitle}) 
</insert> 


<!-- 문의사항selectkey와 한쌍   -->
<insert id="insertqs">
	insert into questionContent (qsNum,qsContent,qsFile)
	values (#{qsNum},#{qsContent}, #{qsFile}) 
</insert>

<!--======공지사항========-->
<!--공지사항    -->
<select id="noticeList" resultType="com.hobby.domain.NoticeVO">
	<![CDATA[
		select * from notice where ntNum > 0
	]]>
</select>

<!-- 공지사항  내용   -->
<select id="noticeContent" resultType="com.hobby.domain.NoticeVO">
	<![CDATA[	 
		 select notice.ntTitle, noticeContent.ntNum, noticeContent.ntContent
		 from notice, noticeContent
		 where notice.ntNum = noticeContent.ntNum and notice.ntNum = #{ntNum} 
	]]>
</select>

<!-- 공지사항 페이징 처리  -->
<select id="noticeListWithPaging" resultType="com.hobby.domain.NoticeVO">
	<![CDATA[	 
		select ntNum, ntUsrClassification,ntTitle,ntDate,ntContent,readcnt
		from 
			(
			select /*+ INDEX_DESC(notice)*/ 
			rownum rn, n.ntNum, n.ntUsrClassification, n.ntTitle, n.ntDate, nc.ntContent,readcnt
		from notice n, noticeContent nc
		where rownum <= #{pageNum} * #{amount} and n.ntNum = nc.ntNum
		)
		where rn > (#{pageNum} -1) * #{amount}
	]]>
</select>


<!--공지사항 조회수 -->
<update id="noticeReadCnt">
	update notice set readCnt = readCnt+1 where ntNum = #{ntNum}
</update>

</mapper>