<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hobby.mapper.MainMapper">

<!-- 메인 정기  -->
<select id="getListRegular" resultType="com.hobby.domain.MainVO">
	<![CDATA[
		select * from club where cbType ='정기모임'
	]]>
</select>

<!-- 메인 번개  -->
<select id="getListThunder" resultType="com.hobby.domain.MainVO">
	<![CDATA[
		select * from club where cbType ='번개모임'
	]]>
<!--  -->
</select>
</mapper>

