<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 작성자 : 김선우 -->


<mapper namespace="com.hobby.mapper.MeetingMapper">


	<insert id="insert">
		<!-- 기본키(cl_number)는 club객체에서 꺼내다 쓴다. -->
		<selectKey keyProperty="mtNum" resultType="long" order="BEFORE">
			select MEETING_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		insert into meeting
		(cbNum, mtNum, cbName, mtName, mtStartDate, mtEndDate, mtMbNum, mtCurMbNum, mtAddress, mtPlace, mtIntro, mtMakeDate, mtSupplies
		,mtFinalState)
		values(#{cbNum}, #{mtNum}, #{cbName},
		#{mtName}, #{mtStartDate},
		#{mtEndDate}, #{mtMbNum}, 0,
		#{mtAddress}, #{mtPlace}, #{mtIntro},
		TO_CHAR(sysdate, 'yyyy/mm/dd hh24:mi:ss'), #{mtSupplies}, '진행중' )
	</insert>


	<!-- 해당 클럽에 대한 만남 정보를 가져오는 SQL -->
	<select id="getMeetingList" resultType="com.hobby.domain.MeetingVO">
		select *
		from meeting
		where mtfinalstate='진행중' and cbNum = #{cbNum}
		order by mtStartDate
	</select>

	<select id="readMeeting" resultType="com.hobby.domain.MeetingVO">
		select *
		from meeting
		where mtfinalstate='진행중' and mtNum = #{mtNum}		
	</select>

<!-- 특정 회원의 해당 만남에 대한 상태를 검사 -->
<select id="readMtStateByUsrNum" resultType="String">
select mtAttendState from meetingmember where cbNum=#{cbNum} AND mtNum=#{mtNum} AND usrNum = #{usrNum}
</select>



<!-- 바뀔 수 있는 부분만 바꿀 것!! -->
<!-- 만남을 수정하는 SQL -->
	<update id="update">
		update meeting set
		mtName=#{mtName}, 
		mtStartDate=#{mtStartDate}, 
		mtMbNum=#{mtMbNum}, 
		mtCurMbNum=#{mtCurMbNum}, 
		mtAddress=#{mtAddress}, 
		mtPlace=#{mtPlace}, 
		mtIntro=#{mtIntro}, 
		mtSupplies=#{mtSupplies},
		mtFinalState=#{mtFinalState}		
		where mtNum = #{mtNum}
	</update>
	
	<update id="updateMtOut">
	update meetingmember 
	set mtattendstate='모임탈퇴' 
	where cbNum=#{cbNum} and usrNum = #{usrNum}	
	</update>

<!-- 모임삭제는 모임의 상태가 변경되어야 한다. -->
	<update id="delete">
		update meeting set
		mtFinalState = '폐쇄'
		where mtNum= #{mtNum}
	</update>
	
	<select id="readMtCurMbNum" resultType="int">
		select count(*) from meetingmember
		where mtNum=#{mtNum} AND mtattendstate='참석중'
	</select>
	
	<!-- <update id="updateMtOutNum">
	{ 
	call	
		BEGIN
    FOR i IN (SELECT mtNum FROM  meetingmember where cbnum=283 and usrnum = 82 and mtattendstate= '참석중') 
    LOOP
        UPDATE meeting
        SET    mtcurmbnum = mtcurmbnum-1                
        WHERE  mtNum = i.mtNum;
    END LOOP;
	END
	}
	</update> -->


<!-- 만남에 참석하면 유저의 상태를 변경해주는 SQL -->
	<insert id="insertAttend">
		insert into meetingMember(cbNum, mtNum, usrNum, usrName, mtAttendState)
		values (#{meeting.cbNum}, #{meeting.mtNum}, #{loginUser.usrNum}, #{loginUser.usrName}, #{mtAttendState})
	</insert>

	<update id="updateAttend">
		update meetingMember set
		mtAttendState=#{mtAttendState}
		where
		usrnum=#{loginUser.usrNum} AND cbnum=#{meeting.cbNum} AND mtNum = #{meeting.mtNum}
	</update>



</mapper>

