<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hobby.mapper.MypageMapper">

<resultMap id="cbMem" type="com.hobby.domain.ClubVO">
 	<result property="usrNum" column="usrNum" />
    <result property="usrName" column="usrName" />
    <result property="cbMemIntro" column="cbMemIntro" />
    <result property="cbAppDate" column="cbAppDate" />  
    <result property="cbMbStResult" column="cbMbStResult" />  
    <result property="cbNum" column="cbNum" />  
    <result property="cbType" column="cbType" />  
    <result property="cbName" column="cbName" />  
    <result property="cbJoinStateUpdateDate" column="cbJoinStateUpdateDate" />  
    <result property="cbJoinStateResult" column="cbJoinStateResult" />  
    <association property="userVO" javaType="com.hobby.domain.UserVO">
    	<id column="usrGender" property="usrGender"/>
		<result column="usrBirth" property="usrBirth"/>
    </association>
</resultMap>



	<select id="getUser" resultType="com.hobby.domain.UserVO">
		select * from USERDETAIL,TBLUSER where USRID = #{id} AND USERDETAIL.usrNum = TBLUSER.usrNum
	</select>
	
	<select id="getUserList" resultType="com.hobby.domain.UserVO">
		select * from TBLUSER
	</select>
	
	<select id="getMyClubList" resultType="com.hobby.domain.ClubVO">
		select club.cbtype, club.cbleadernum, club.cbname, club.cbnum from club,clubmember where club.cbnum = clubmember.cbnum and clubmember.usrnum = #{usrNum} and club.CBFINALSTATE = '진행중' and clubmember.cbmbstresult = '가입승인' order by clubmember.cbappdate
	</select>
	
	<select id="getWaitClubList" resultType="com.hobby.domain.ClubVO">
		select cbnum,cbname,cbtype from clubjoinhistory where USRNUM = #{usrNum} and CBJOINSTATERESULT = '승인대기' and
(clubjoinhistory.cbjoinnum,clubjoinhistory.cbnum,clubjoinhistory.usrnum) in (SELECT MAX(cbjoinnum),cbnum,usrnum FROM clubjoinhistory GROUP BY cbnum,usrnum)


	</select>
	
	<select id="getPrevClubList" resultType="com.hobby.domain.ClubVO">
		select * from CLUBJOINHISTORY 
		where USRNUM = #{usrNum} and CBJOINSTATERESULT = '모임탈퇴'
	</select>
	
	<update id="updateUserAuth">
		update userauth
		set  auth = 'ROLE_MEMBEROUT'
		where  USRNUM = #{usrNum}
	</update>
	
	<update id="updateUserInfo">
		update TBLUSER
		set USRPHONE = #{usrPhone},
		USRPWD = #{usrPwd},
		USRSTATE = #{usrState},
		USRIMG = #{usrImg},
		USRIMGPATH = #{usrImgPath}
		where USRNUM = #{usrNum} 
	</update>
	
	<insert id="insertUserHistory">
	insert into USERHISTORY(usrHistoryNum, usrNum, usrName, usrState, usrStateUpdateDate)  
	values(userhistory_seq.nextval, #{usrNum}, #{usrName}, #{usrState}, sysdate)
	</insert>
	
	<select id="getLeaderClubList" resultType="com.hobby.domain.ClubVO">
		select * from CLUB
		where 
		CBLEADERNUM = #{usNum} and CBFINALSTATE != '폐쇄' AND CBFINALSTATE != '강제폐쇄' order by cbNum asc
	</select>

	<select id="getClub" resultType="com.hobby.domain.ClubVO">
		select * from CLUB,THUNDERDETAIL  
		where 
		CLUB.CBNUM = #{cbNum} and
		CLUB.CBNUM = THUNDERDETAIL.CBNUM and CBNAME = #{cbName}
	</select>
	
	<select id="getCategoryList" resultType="com.hobby.domain.CategoryVO">
		select * from CATEGORY 
		WHERE CATCLASSIFICATIONCODE = #{catClassificationCode}
	</select>
	
	<update id="updateUserDetail">
		update USERDETAIL
		set  USRCITY1 = #{usrCity1},
		USRDISTRICT1 = #{usrDistrict1},
		USRCITY2 = #{usrCity2},
		USRDISTRICT2 = #{usrDistrict2},
		USRCATEGORY1 = #{usrCategory1},
		USRCATEGORY2 = #{usrCategory2}
		where  USRNUM = #{usrNum}
	</update>
	
	<select id="getJoinClub" resultType="com.hobby.domain.ClubVO">
		select * from CLUBMEMBER where USRNUM = #{usrNum}
	</select>
	
	<select id="getCityList" resultType="com.hobby.domain.RegionVO">
	select * from REGION where RGCLASSIFICATIONCODE is null
	</select>

	<select id="getDistrictList" resultType="com.hobby.domain.RegionVO">
	select * from REGION where RGCLASSIFICATIONCODE = (select RGCODE from region where RGNAME = #{rgName})
	</select>
	
	<select id="getOldFiles"  resultType="com.hobby.domain.UserVO">
		select USRIMG, USRIMGPATH from TBLUSER where USRIMGPATH = to_char(sysdate -1,'yyyy\mm\dd')
	</select>
	
	<select id="getClubManageMemList" resultMap="cbMem">
		select * from tbluser, clubjoinhistory where cbnum = #{cbNum} and clubjoinhistory.usrnum = tbluser.usrnum and clubjoinhistory.cbjoinstateresult in ('가입승인','승인대기') and (clubjoinhistory.cbjoinnum,clubjoinhistory.cbnum,clubjoinhistory.usrnum) in (SELECT MAX(cbjoinnum),cbnum,usrnum FROM clubjoinhistory GROUP BY cbnum,usrnum)
	
	
	</select>
	
	<insert id="insertClubJoinHistory">
		insert into CLUBJOINHISTORY(CBJOINNUM, USRNUM, CBNUM, CBNAME, CBTYPE,CBJOINSTATERESULT,CBJOINSTATEUPDATEDATE)  
		values(clubjoinhistory_seq.nextval, #{usrNum}, #{cbNum}, #{cbName}, #{cbType}, #{cbJoinStateResult}, sysdate)
	</insert>
	
	<update id="updateClubManageMem">
		update CLUBMEMBER
		set  CBMBSTRESULT = #{cbMbStResult}
		where  USRNUM = #{usrNum} and CBNUM = #{cbNum}
	</update>
	
	<update id="updateClubMemNumPlus">
		update CLUB
		set CBCURMBNUM = CBCURMBNUM + 1
		where CBNUM = #{cbNum}
	</update>
	
	<update id="updateClubMemNumMinus">
		update CLUB
		set CBCURMBNUM = CBCURMBNUM - 1
		where CBNUM = #{cbNum}
	</update>
	
	<update id="shutClub">
		update CLUB
		set CBFINALSTATE = '폐쇄',
		CBSHUTDATE = sysdate
		where CBNUM = #{cbNum} 
	</update>
	
	<insert id="insertClubMember">
		insert into CLUBMEMBER(USRNUM, USRNAME, CBNUM, CBTYPE, CBNAME, CBMBSTRESULT,CBMEMINTRO,CBAPPDATE)  
		values(#{usrNum},#{usrName},#{cbNum}, #{cbType}, #{cbName}, #{cbJoinStateResult}, #{cbMemIntro}, sysdate)
	</insert>
	
	
</mapper>