<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hobby.mapper.MypageMapper">

	<select id="getUser" resultType="com.hobby.domain.UserVO">
		select * from USERDETAIL,TBLUSER where USRID = #{id} AND USERDETAIL.usrNum = TBLUSER.usrNum
	</select>
	
	<select id="getUserList" resultType="com.hobby.domain.UserVO">
		select * from TBLUSER
	</select>
	
	<select id="getMyClubList" resultType="com.hobby.domain.ClubVO">
		select cbnum,cbname,cbtype from (select * from CLUBMEMBER where USRNUM = #{usrNum} and CBMBSTRESULT = '승인' order by cbappdate)
	</select>
	
	<select id="getWaitClubList" resultType="com.hobby.domain.ClubVO">
		select cbnum,cbname,cbtype from (select * from CLUBMEMBER where USRNUM = #{usrNum} and CBMBSTRESULT = '승인대기' order by cbappdate)
	</select>
	
	<select id="getPrevClubList" resultType="com.hobby.domain.ClubVO">
		select * from CLUBJOINHISTORY 
		where USRNUM = #{usrNum} and CBJOINSTATERESULT = '탈퇴'
	</select>
	
	<update id="updateUserAuth">
		update userauth
		set  auth = 'ROLE_MEMBEROUT'
		where  USRNUM = #{usrNum}
	</update>
	
	<update id="updateUserInfo">
		update TBLUSER
		set USRPHONE = #{usrPhone},
		USRPWD = #{usrPwd},
		USRSTATE = #{usrState},
		USRIMG = #{usrImg},
		USRIMGPATH = #{usrImgPath}
		where USRNUM = #{usrNum} 
	</update>
	
	<insert id="insertUserHistory">
	insert into USERHISTORY(usrHistoryNum, usrNum, usrName, usrState, usrStateUpdateDate)  
	values(userhistory_seq.nextval, #{usrNum}, #{usrName}, #{usrState}, sysdate)
	</insert>
	
	<select id="getMyCreateClubList" resultType="com.hobby.domain.ClubVO">
		select * from CLUB
		where 
		CBLEADERNUM = #{usNum} order by cbNum asc
	</select>

	<select id="getClub" resultType="com.hobby.domain.ClubVO">
		select * from CLUB,THUNDERDETAIL  
		where 
		CLUB.CBNUM = #{cbNum} and
		CLUB.CBNUM = THUNDERDETAIL.CBNUM and CBNAME = #{cbName}
	</select>
	
	<select id="getCategoryList" resultType="com.hobby.domain.CategoryVO">
		select * from CATEGORY 
		WHERE CATCLASSIFICATIONCODE = #{catClassificationCode}
	</select>
	
	<update id="updateUserDetail">
		update USERDETAIL
		set  USRCITY1 = #{usrCity1},
		USRDISTRICT1 = #{usrDistrict1},
		USRCITY2 = #{usrCity2},
		USRDISTRICT2 = #{usrDistrict2},
		USRCATEGORY1 = #{usrCategory1},
		USRCATEGORY2 = #{usrCategory2}
		where  USRNUM = #{usrNum}
	</update>
	
	<select id="getJoinClub" resultType="com.hobby.domain.ClubVO">
		select * from club where CBNUM = #{cbNum}
	</select>
	
	<select id="getCityList" resultType="com.hobby.domain.RegionVO">
	select * from REGION where RGCLASSIFICATIONCODE is null
	</select>

	<select id="getDistrictList" resultType="com.hobby.domain.RegionVO">
	select * from REGION where RGCLASSIFICATIONCODE = (select RGCODE from region where RGNAME = #{rgName})
	</select>
	
	<select id="getOldFiles"  resultType="com.hobby.domain.UserVO">
		select USRIMG, USRIMGPATH from TBLUSER where USRIMGPATH = to_char(sysdate -1,'yyyy\mm\dd')
	</select>
	
</mapper>