<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hobby.mapper.PayMapper">

	<update id="pointInsert">
		update tbluser set usrPoint = #{usrPoint} where usrNum = #{usrNum}
	</update>

	<select id="getUserPoint" resultType="Long">
		select usrPoint from tbluser where usrNum = #{usrNum}
	</select>

</mapper>