<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.mapper.ReplyMapper">

	<insert id="insert">
		insert into CLUBBOARD_REPLY (rno, cbBno, reply, replyer, cbNum)
		values (seq_reply.nextval, #{cbBno},#{reply},#{replyer},#{cbNum})
	</insert>
	
	<select id="read" resultType="com.hobby.domain.ReplyVO">
		select * from CLUBBOARD_REPLY where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from CLUBBOARD_REPLY where rno = #{rno}
	</delete>
	
	<update id="update">
		update CLUBBOARD_REPLY set reply = #{reply}, updatedate = sysdate
		where rno = #{rno}
	</update>
	
	<select id="getList" resultType="com.hobby.domain.ReplyVO">
		select * from CLUBBOARD_REPLY 
		where cbBno = #{cbBno} order by rno desc
	</select>
	
</mapper>