
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8"> 
<title>문의하기</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link rel="stylesheet" href="css/inqury.css">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrap">

	
	<div class="s-visual">
		<div class="s-visual-in">
			<h2>문의사항</h2>
			<h4>INQUIRE</h4>
		</div>
	</div>



	<!--TOP버튼-->
	<div class="top_btn">
	   <a href="#"><i class="material-icons">keyboard_arrow_up</i></a>
	</div>

    <div class="notimenu">
        <div class="notisubmenu">
            <a href="">공지사항 </a>
            <a href="">자주묻는질문 </a>
            <a href="">문의사항 </a>
        </div>
    </div>

	<section id="container">
		<div class="section_in">
			<p class="load">HOME &gt; 고객센터 &gt; 1:1문의사항</p>
			<h2>1대1 문의하기</h2>
			<p>INQUIRE</p>

			<!-- 탭메뉴 -->

			<!-- 탭메뉴클릭시 -->
			<form>
				<h6 class="form-stxt">*필수 입력사항&nbsp;&nbsp;</h6>
				<hr>
				<fieldset class="formContent">
					<div>
						<label for="name">이름*</label>
						<input type="text" id="name">
					</div>
					<div>
						<label for="hp">연락처*</label>
						<input type="text" name="hp1" class="hp1">
					</div>
					<div>
						<label for="email">이메일*</label>
                        <input type="email" id="email" name="email">
                        <span class="required">   *답변받을 이메일을 입력해주세요.</span>
					</div>
					<div>
						<label for="location">제목*</label>
						<input type="text" name="choice1">
					</div>
					<div class="request">
						<label for="request" class="class">요청사항*</label>
						<textarea></textarea>
					</div>					
				</fieldset>
				<hr>
				<fieldset class="agreebox">
					<p>
						<input type="checkbox" name="agree" value="agree">
						<span>개인정보 수집 및 이용에 동의합니다.</span>
					</p>
					<div class="btn_faq">
						<input type="submit" value="문의하기" class="btn_faq2">
					</div>
				</fieldset>					
			</form>		

		</div>	
	</section>



</div>

</body>
</html>
