<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div id="login">
        <div class="loginbx">
            <h1>LOGIN</h1>
            <hr>
            <form>
                <div>
                    <input type="text" placeholder="아이디입력">
                </div>
                <div>
                    <input type="text" placeholder="비밀번호입력(영문,숫자,특수문자조합)">
                </div>
                <div>
                    <input type="submit" value="로그인">
                </div>

                <div class="check">
                    <input type="checkbox" id="cb1">
                    <span>아이디 저장</span>
                </div>
                <hr>

                <div id="sns">
                    <div>
                        <div class="kakao"></div>
                        <p>카카오<br>로그인</p>
                    </div>

                    <div>
                        <div class="naver"></div>
                        <p>네이버<br>로그인</p>
                    </div>
                    <div>
                        <div class="google"></div>
                        <p>구글<br>로그인</p>
                    </div>
                </div>
                <!-- <hr> -->
                <div id="idpass">
                    <a href="">아이디 찾기</a>
                    <a href="">비밀번호 찾기</a>
                </div>

                <div id="membership">
                    <p>아직 회원이 아니세요?</p>
                    <p>회원가입 ></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>