<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>
    <div class="s-visual">
		<div class="s-visual-in">
			<h2>공지사항</h2>
			<h4>NOTICE</h4>
		</div>
    </div>
    
    <div class="notimenu">
        <div class="notisubmenu">
            <a href="">공지사항 </a>
            <a href="">자주묻는질문 </a>
            <a href="">문의사항 </a>
        </div>
    </div>

    <div id="table">
        <table>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>

            <tr>
              <td>공지</td>
              <td>사용자는 보거라</td>
              <td>2020-12-30</td>
              <td>200</td>
            </tr>

            <tr>
              <td>공지</td>
              <td>사용자는 보거라</td>
              <td>2020-12-30</td>
              <td>200</td>
            </tr>

            <tr>
                <td>공지</td>
                <td>사용자는 보거라</td>
                <td>2020-12-30</td>
                <td>200</td>
              </tr>

              <tr>
                <td>공지</td>
                <td>사용자는 보거라</td>
                <td>2020-12-30</td>
                <td>200</td>
              </tr>

              <tr>
                <td>공지</td>
                <td>사용자는 보거라</td>
                <td>2020-12-30</td>
                <td>200</td>
              </tr>
  
              <tr>
                <td>공지</td>
                <td>사용자는 보거라</td>
                <td>2020-12-30</td>
                <td>200</td>
              </tr>
  
              <tr>
                  <td>공지</td>
                  <td>사용자는 보거라</td>
                  <td>2020-12-30</td>
                  <td>200</td>
                </tr>
  
                <tr>
                  <td>공지</td>
                  <td>사용자는 보거라</td>
                  <td>2020-12-30</td>
                  <td>200</td>
                </tr>

                <tr>
                    <td>공지</td>
                    <td>사용자는 보거라</td>
                    <td>2020-12-30</td>
                    <td>200</td>
                  </tr>
    
                  <tr>
                    <td>공지</td>
                    <td>사용자는 보거라</td>
                    <td>2020-12-30</td>
                    <td>200</td>
                  </tr>
          </table>

          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>

    </div>

</body>
</html>