<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정기모임 신청서 </title>
    <link rel="stylesheet" href="css/regularform.css">
</head>
<body>
    <div class="header"></div>
<div class="regubg"></div>    
<form>    
  <div id="reguform">
      <span class="half">정기모임개설</span>
      <p class="cate">모임명</p>
      <div class="caja1">
          <div class="lef1">
            <div class="profile"></div>
            <input type="file" value="첨부파일">
          </div>
          <div class="rig1">
            <input type="text" placeholder="모임명을 입력하세요."> <br>
            <input type="text" style="width:350px" placeholder="한줄소개 해주세요.">
          </div>
      </div>

      <p class="cate">카테고리</p>
      <div class="caja2">
          <div class="lef1">
            <label>카테고리</label>
            <select>
                <option>카테고리</option>
                <option>카테고리</option>
                <option>카테고리</option>
                <option>카테고리</option>
            </select>
          </div>
          <div class="rig1">
            <label>모임</label>
            <select>
                <option>모임</option>
                <option>카테고리</option>
                <option>카테고리</option>
                <option>카테고리</option>
            </select>
          </div>
      </div>

      <p class="cate">지역</p>
      <div class="caja2">
          <div class="lef1">
            <label>지역</label>
            <select>
                <option>지역</option>
                <option>카테고리</option>
                <option>카테고리</option>
                <option>카테고리</option>
            </select>
          </div>
          <div class="rig1">
            <label>세부지역</label>
            <select>
                <option>세부지역</option>
                <option>카테고리</option>
                <option>카테고리</option>
                <option>카테고리</option>
            </select>
          </div>
      </div>

      <p class="cate">정원</p>
      <div class="caja2">
          <div class="lef1">
            <label>정원</label>
            <input type="number">
          </div>

          <div class="rig1">
           <p class="pil">*50명 이상은 포인트 결제가 필요합니다.</p>
          </div>
      </div>

      <p class="cate">해쉬태그</p>
      <div class="caja2">
          <div class="lef1">
            <label>해쉬태그</label>
            <input type="text" value="#">
          </div>
      </div>

      <p class="cate">모임상세내역</p>
      <div class="caja2">
          <div class="lef1 detailinfo">
            <label class="infonam">상세내역</label>
            <textarea></textarea>
          </div>
      </div>


      <div id="regiform">
        <input type="submit" class="btn" value="개설하기">
    </div>
  </div>
</form>  
</body>
</html>