<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <settings>
        <!-- http://www.mybatis.org/mybatis-3/ko/configuration.html -->
        <setting name="cacheEnabled" value="true"/>      
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
        
        <!-- <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/> -->
        <!-- <setting name="callSettersOnNulls" value="true" /> -->
    </settings>
    
 
    <!-- MyBatis mapper 파일이 추가될 때마다 지정해줘야 . -->
    <mappers>
        <mapper resource="com/hobby/mapper/ThunderMapper.xml"/>        
    </mappers>
    
</configuration>

