@charset "UTF-8";

*{
    margin:0;
    padding:0;
}
/**border-top: 1px solid #eee;*/
#regularInfo{
	width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #eee;
}

#detail{
    width:1200px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 23px;
    box-sizing:border-box;
}

#topInfo{
    font-size: 14px;
    font-weight: bold;
    color: #ffaf31;
}

#topcbName{
	margin: 6px 0 12px;
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
}
#topcbIntro{
	font-size: 13px;
    font-weight: bold;
}

#hashtag{
	font-weight: bold;
	margin-bottom: 20px;	
}
#leftinfo{
    width:800px;    
}

#leftinfo img{
    width:100%;
    height:400px;
    border-radius: 10px;
}

#clubList{
	padding: 5px 8px 2px 8px;
    border-radius: 0px;
   	background-color: #FFF;
    border-bottom: 1.5px solid #999;
    color: #999;
    float: right;
}

/*rightinfo(다혜)*/
#rightinfo{
    width:30%;
    height:400px;
    background: #ffffff;
    /* border:1px solid #eee; */
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-left:20px;
    margin-top: 5px;
    border-radius: 20px;
}
.contentup {
   display:flex;
}
#rightinfo .contentl {
    width: 70%;
    height: 100px;
}

#rightinfo .contentr {
    width: 30%;
    height: 95px;
}

.contentr button{
    width:100px;
    height:30px;
    background:#ffaf31;
    margin-top:20px;
    border:none;
    color:#fff;
    border-radius: 5px;
}


#rightinfo .contentl>p {
    line-height: 30px;
    font-weight:bold;
    font-size: 30px;
    margin: 20px;
}
#rightinfo .contentmid {
   font-size:15px;
   height:300px;
    overflow-y:auto;
    line-height: 1.5;
}

.contentmid::-webkit-scrollbar { width:0rem; }
/* .contentmid:hover {
   display: block;
} */
.contentmid button{
    width:auto;
    height:30px;
    background:#ffaf31;
    border:none;
    color:#fff;
    border-radius: 5px;
    float: right;
}
#meetingName{

}
/*rightinfo*/


.uu{
    position: -webkit-sticky;
    position: sticky;
    top:150px;
    margin-left:70%;
}

#banner {
    	background-color: orange;
    	display: flex; 
    	width: 100%;
    	align-items: center;
    	margin: auto;
    	border-radius:10px;
	}
#banner ul {
    	list-style-type: none;
    	flex: 1;
    	display: flex; 
    	justify-content: center;
	}
#banner li > a {
    	padding: 10px;
    	color:beige;
    	display: flex; 
    	margin: 0 100px;
    	text-decoration: none;
	}
#banner li > a:hover {
    	color: orangered;
	}

.sticky {
  	position: sticky;
  	top: 40px;
  	/* margin-left:70%; */
}

/* ======해쉬태그  */
/* #body1 {
    width:100%;
    height:500px;
    background:pink;
}
.cod {
    display:flex;
    margin-top:20px;
    height:60px;
    background: #ab1170;
}
.nam1{
    display:flex;
    height:150px;
    background: #117aab;
}
.nam2{
    display:flex;
    height:120px;
    margin-top:20px;
    background: #94ab11;
}
#body2{
    width:100%;
    height:100px;
    background:#35ab11;
    display: flex;
}

#body3{
    width:100%;
    height:700px;
    background:beige;
}
#body4{
    width:100%;
    height:500px;
    background:#1199ab;
}
.content {
	margin: 30px;
} */

#phashtag{
    width:100%;
    height:80px;
    /* background:#ab1111; */
    display:flex;
}
.hashpp{
    width:70px;
    height:30px;
    background:#fff;
    border-radius: 30px;
    border:1px solid #666;
    text-align:center;
    line-height: 30px;
    font-weight:bold;
}
/* ========== */
#error{
    width:100%;
    height:150px;
    /* background:pink; */
    display:flex;
}
#error .infole{
    width:30%;
    /* background:pink; */
}

#error .infole>p{
    font-size:20px;
    font-weight:bold;
    color:#333;
}

#error .inforig{
    width:70%;
    /* background:beige */
}

/* 상세 내용  */

#pdetail{
    width:100%;
    height:auto;
    /* background:pink; */
    display:flex;
    margin-top: 20px;
}

#pdetail .infole{
    width:30%;
    /* background:pink; */
}

#pdetail .infole>p{
    font-size:20px;
    font-weight:bold;
    color:#333;
}

#pdetail .inforig{
    width:70%;
    /* background:beige */
}


/* 모임명  */
.clubb{
    font-size:18px;
    color:#333;
    padding-top:0;
}

.clubname{
    font-size:20px;
    background:linear-gradient(to top, rgba(255,175,49,0.7) 50%, transparent 50%);
}
/* 한줄소개 */

.clubintro{
    font-size:18px;
    color:#333;
    padding:20px;
}
.cluban{
    width:100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    background:rgba(241, 237, 237, 0.7);
    border-radius: 20px;
    padding:20px;
}
/* .moinname{
    
    font-weight:bold;
    font-size:16px;
    padding-bottom:10px;
} */

.cluban button{
    width:100px;
    height:30px;
    background:#ffaf31;
    margin-top:30px;
    border:none;
    color:#fff;
}

/* //////MODAL//////////////////////////////////////////////////// */

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f44336;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

form {
	/*padding-top: 16px;*/
}

.btn{
    background-color: #ffaf31;
	color:#fff;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
    border-radius: 5px;
	opacity: 0.9;
	margin:10px auto;
}
