@charset "UTF-8";

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    height: 121px;
    background:pink;
}
.regubg{
    width:100%;
    height:1600px;
    background:url('../img/brown1.jpg') no-repeat;
    background-size:cover;
    
    position: relative;
    margin-top: 50px;
}

.half{
    text-align:center;
    font-size:25px;
    font-weight:bold;
    background:linear-gradient(to top, rgba(255,175,49,0.7) 50%, transparent 50%);
    font-family: 'paybooc-Bold';
  }
/* ============작성폼============ */
#reguform{
    width:800px;
    height:1300px;
    background:#fff;
    margin: 0 auto;
    padding:30px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'paybooc-Light';
}
.caja1{
    display:flex;
    margin-top:20px;
    height:200px;
} 
.caja1 .lef1{
    margin-left:30px;
}

.thumbImg {
    width: 150px;
    height:150px;
    /* background:orange; */
    border-radius: 70%;
}
.cate{
    width:800px;
    border-bottom:3px solid rgba(255,175,49,0.7);
    padding-top:40px;
    font-weight:bold;
    font-size:20px;
    font-family: 'paybooc-Bold';
}
.rig1 input[type=text]{
    width:225px;
    height:40px;
    border:1px solid #e0e0e0;
    border-radius: 20px;
    margin-top:30px;
    padding-left:10px;
    color:#999;
    font-family: 'paybooc-Light';
}
/* ============카테고리 박스 ============== */
.caja2{
    display:flex;
    margin-top:20px;
}
.lef1, hashTagDiv{
    margin-right:30px;
}
.caja2 label{
    margin-right:10px;
}
.caja2 select{
    width:225px;
    height:40px;
    border:1px solid #e0e0e0;
    border-radius: 20px;
    margin-top:10px;
    padding-left:10px;
    color:#999;
    font-family: 'paybooc-Light';
}
.caja2 input[type=text]{
    width:225px;
    height:40px;
    border:1px solid #e0e0e0;
    border-radius: 20px;
    margin-top:10px;
    padding-left:10px;
    color:#999;
    font-family: 'paybooc-Light';
}
.caja2 input[type=number]{
    width:225px;
    height:40px;
    border:1px solid #e0e0e0;
    border-radius: 20px;
    margin-top:10px;
    padding-left:10px;
    color:#999;
}
.caja2 textarea{
    width:680px;
    height:200px;
    border:1px solid #e0e0e0;
    border-radius: 20px;
    margin-top:10px;
    padding-left:10px;
    color:#999;
    font-family: 'paybooc-Light';
}
.detailinfo{
    display:flex;
}
.infonam{
    margin-top:20px;
}
.pil{
    margin-top:20px;
    color: #ab1111;
    font-size:13px;
}
/* 버튼  */
#regiform{
    width:400px;
    margin:50px auto;
    display: flex;
}
#regiform >.btn {
	width:80%;
	background-color: #ffaf31;
	color:#fff;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
    border-radius: 5px;
	opacity: 0.9;
	margin-right: 20px;
	margin-left: 50px;
	font-family: 'paybooc-Bold';
}
#regiform1{
    margin:50px 200px;
    display: flex;
}
#regiform1 >.btn {
	background-color: #ffaf31;
	color:#fff;
	padding: 15px 15px;
	border: none;
	cursor: pointer;
    border-radius: 5px;
	opacity: 0.9;
	margin-right: 25px;
	font-family: 'paybooc-Bold';
}

/* 파일 업로드 style */
.select_img img {
	margin: 20px 0px;
}

/* 해시태그 */
#hashTagDiv {
	display:flex;
}

#hashTagDiv ul {
	padding: 16px 0;
}

#hashTagDiv ul li {
	display: inline-block;
	margin: 3px 5px;
}

#hashTagDiv ul li.tag-item {
	padding: 4px 8px;
	background-color: orange;
	color: white;
	font-size: 12px;
}

#hashTagDiv .tag-item:hover {
	background-color: #262626;
	color: #fff;
}

#hashTagDiv .del-btn {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 8px;
}
