@charset "UTF-8";

*{
	margin:0;
	padding:0;	
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
/* =======================검색창 ========== */
section#wrap>form {
	margin-top: 50px;
}

#detsrc {
   width: 1200px;
   height: 200px;
   background: #eee;
   margin: 0 auto;
}

.src {
   width: 1100px;
   height: 150px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   padding: 0 10px;
}

.dtlfont {
   width: 1200px;
   font-size: 18px;
   margin: 30px 0 10px 0;
}

.src select {
   width: 220px;
   height: 35px;
   border-radius: 20px;
   padding: 0 15px 0 15px;
   margin-right: 30px;
   margin-top: 0px;
   border: none;
}

.src input[type=text] {
   width: 200px;
   height: 35px;
   border-radius: 20px;
   border: none;
   margin-top: 10px;
   position: relative;
   text-indent: 15px;      
    background-color: white;    
    margin-top: 15px;
   padding-right: 40px;
}

.src ::placeholder {
   color: #333;
}

.btnkeyword {
    width: 40px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color: #333;    
    margin-left: 13px;
    transition: 0.5s;
    position: relative;
    z-index: 5;
    left: -55px;
    margin-top: 16px;
    opacity: 0.5;
}


.btnkeyword:hover {
   background: #ddd;
}

select#searchBy {
   margin-right: 15px;
   margin-top: 15px;
}

button>img {
   width: 17px;
}

/* ==========검색분류=========== */
.half{
	text-align:center;
    font-size:25px;
    font-weight:bold;
    margin: 0 15px;
}
#sort{	
	width:1200px;
	display:flex;
	justify-content: flex-start;
	margin:0 auto 30px;
	border-bottom:1px solid #eee;
	padding-bottom:10px;
}

#sort ul {
	margin-top: 50px;
}

#sort ul li {
	display: inline
}

.order_button {
	border-right: 1px solid #ddd;
	padding: 0 20px;
}

.order_button a {
	color: #000;
}

.order_button:first-child {
	padding-left: 0px;
}

.order_button:last-child {
	border: none;
}

#sort>ul>.active>a, #sort>ul>.active>a:focus, #sort>ul>.active>a:hover, #sort>ul>.active>span, #sort>ul>.active>span:focus, #sort>ul>.active>span:hover
	{
	color: #ffaf31;
	cursor: default;
}
/* ==========검색결과=========== */
#searchresult{
	width:1200px;
	display:flex;
	flex-wrap:wrap;
	justify-content: flex-start;
	margin:0 auto;
}

#searchresult div{
	/* flex-basis: 270px; */
	width:270px;
	height:370px;
	margin-right:40px;
	
}
#searchresult div:nth-child(4n){
	margin-right:0px;
}

#searchresult div img{
	width:270px;
	height:200px;
	border-radius: 15px;
}

.location{
	width:270px;
	height:16px;
	font-weight:bold;
	color:#2f3030;
}

.nombre{
	width:270px;
	height:40px;
	margin-top:4px;
	font-size:14px;
	color:#2f3030
}


.limitmem{
	width:270px;
	height:16px;
	font-size:14px;
	padding-top:4px;
	color:#666;
	
}


/* //////////////////////////list.jsp //////////////////////////////*/
.pagination {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.pagination>li {
	display: inline
}

.pagination>li>a, .pagination>li>span {
	border: none;
	outline: none;
	padding: 10px 16px;
	background-color: #ddd;
	cursor: pointer;
	font-size: 12px;
	border-radius: 50%;
	margin-right: 10px;
	color: #fff;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	z-index: 2;
	background-color: #ffaf31;
	color: white;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 3;
	cursor: default;
	background-color: #ffaf31;
	color: white;
}

