@charset "UTF-8";

#banner {
    	background-color: orange;
    	display: flex; 
    	width: 1000px;
    	align-items: center;
    	margin: auto;
	}
#banner ul {
    	list-style-type: none;
    	flex: 1;
    	display: flex; 
    	justify-content: center;
	}
#banner li > a {
    	padding: 10px;
    	color:beige;
    	display: flex; 
    	margin: 0 100px;
    	text-decoration: none;
	}
#banner li > a:hover {
    	color: orangered;
	}
#body {
 		border-style: groove;
    	width: 1000px;
    	height: 400px;
   		margin: auto;
	}
#up {
    	width: 100%;
    	height: 100px;
    	text-align: right;	
	}
#mid {
    	width: 100%;
    	height: 50px;
	}
#dow {
    	width: 100%;
    	height: 200px;
	}
#dow img {
		width: 30%;
    	height: 200px;
	}
	
.submitbtn {
  background-color: #f44336;
  width: 100%;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f44336;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}