@charset "UTF-8";

#body {
		margin: auto;
		width: 1000px;
	}
#banner {
    	background-color: orange;
    	display: flex; 
    	width: 1000px;
    	align-items: center;
    	margin: auto;
	}
#banner ul {
    	list-style-type: none;
    	flex: 1;
    	display: flex; 
    	justify-content: center;
	}
#banner li > a {
    	padding: 10px;
    	color:beige;
    	display: flex; 
    	margin: 0 100px;
    	text-decoration: none;
	}
#banner li > a:hover {
    	color: orangered;
	}
#bodymain {
        width: 100%;
	}
#clubboard {
  		font-family: Arial, Helvetica, sans-serif;
 		border-collapse: collapse;
  		width: 100%;
    }		
#clubboard td, #clubboard th {
  		border: 1px solid #ddd;
  		padding: 8px;
	}
#clubboard th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: center;
  		background-color:whitesmoke;
	}
#createBtn {
	border: none;
	background-color: #f44336;
  	color: white;
  	padding: 13px 30px;
  	text-align: center;
  	font-size: 14px;
  	margin: 4px 2px;
  	cursor: pointer;
  	float: right;
	}
.pullright {
	text-align: center;
	}
.pullright .pagination {
  	display: -webkit-inline-box;
	}
.pullright .pagination a {
  	color: black;
  	float: left;
  	padding: 8px 16px;
  	text-decoration: none;
	}
.pullright .pagination .paginate_button {
		display: inline-block;
	}