@charset "UTF-8";

.box{
		width: 250px;
		height: 200px;
		border: 3px solid black;
		border-style: dotted;
		box-sizing: border-box;
		display: inline-block;
		margin: 20px;
		text-align: center;
	}
	
ul.demo {
  		list-style-type: none;
 		margin: 0;
  		padding: 0;
  		display: inline-block;
    	margin-top: 60px;
	}