/*폰트 */

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
	font: inherit;
}
/* topbtn */
.top_btn a{
	position:fixed;
    z-index:99;
    bottom:20px;
    right:10px;
    width:40px;
    height:40px;
    border-radius:50%;   
    background:#ffaf31;
    text-align:center;
    transition:all 0.5s;
}

.top_btn>a>i{  /*ICON FONT  ㅼ젙*/
    line-height:40px;
    color:#fff;
    font-size:30px;
}

.top_btn a:hover{background:#f8ca82;}
.top_btn>a:hover>i{color:#fff;}
.top_btn a.qnabtn{
	position:fixed;
    z-index:99;
    bottom:70px;
    right:10px;
    width:40px;
    height:40px;
    border-radius:50%;   
    background:url(../image/scrollbtn.png) no-repeat;
    text-align:center;
    transition:all 0.5s;
}
.top_btn .qnabtn:hover{background:url(../image/scrollbtn_on.png) no-repeat;}



/* -------------------------------헤더 */
#header{
    width:1200px;
    height:80px;
    margin:0 auto;
    z-index: 99;
}
#head{
    width:1200px;
    height:80px;
    /* background:transparent; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}
.menu1{
    display: flex;
    justify-content: flex-start;
}
/* logo */
#head img{
    width:80px; 
    margin-right:20px; 
    margin-top:5px;
}

/* 검색창 */
#head input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #333;
    /* border-style: none none solid none;
    border-bottom: 1px solid #666; */
    outline:none;
    border-radius: 20px;
    font-size: 14px;
    background-color: white;
    background-image: url("../img/search.png");
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top:10px;
  }  

/* 로그인/고객센터 */
.menu2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu2 a{
    color:#333;
    margin-right:5px;
    font-size:13px;
    transition: 0.3s;
    font-family: 'paybooc-Medium';
}


.menu2 a:hover{
    font-weight: bold;
    color:#ffaf31;
}


/* 햄버거 메뉴 전체  */
#nav{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'paybooc-Bold';

}
/* 햄버거 메뉴  */


/* ==================ver2 */
.overlay {
    width: 1200px;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 115px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    /* top: 30%; */
    height: 100px;
    /* text-align: center; */
    /* margin-top: 30px; */
  }
  
  .overlay a {
    padding: 8px;
    font-size: 36px;
    color: #818181;
    /* display: block; */
    transition: 0.3s;
  }
  
  .overlay a:hover{
    color:#ffaf31;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right:20px;
    font-size: 60px;
    z-index: 999;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .menubtn{
      margin-right:10px;
  }

  .submenu{
      padding-right:15px;
      color:#333;
      font-size:17px;
      margin-top:3px;
      transition: 0.5s;
      
  }
  
  
  
  .submenu:hover{
      color:#ffaf31;
  }
  



.dropdown {
   margin-top:3px;
   display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  float: left;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  display: none;
  width: 300px;
  height: 150px;
  background-color: #ffaf31;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 999;
  top: 150%;
  left: 50%;
  margin-left: -152.5px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #ffaf31 transparent;

}
.socketAlert p{
	margin: 4% 2% 0 4%;
	white-space: nowrap;
	overflow: hidden;
    text-overflow:ellipsis;
}

/* 햄 */

.dropbtnr {
  /* background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; */

  font-size: 30px; 
  cursor: pointer;
  border:none;
  background:#fff;
  margin-right:16px;
}

.dropbtnr:hover, .dropbtnr:focus {
  background-color: #fff;
  border:none;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.dropdown-contentr {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  width:1200px;
  height:400px;
}

.dropdown-contentr a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'paybooc-Medium';
}

/* .dropdown a:hover {background-color: #ddd;} */

.show {display: block;}

.dropreg{
  width:1000px;
  height:300px;
  display: flex;
  margin:20px auto;
}

.togreg{
  font-size:20px;
  font-weight: bold;
  margin-left:10px;
  background:linear-gradient(to top, rgba(255,175,49,0.7) 50%, transparent 50%);
}

.regtim{
  width:550px;
  border-right:1px dashed #666;
  padding:20px;
  margin-top:40px;
}

.tunder{
  display:flex;
  flex-wrap: wrap;
  padding-right:10px;
  margin-top:20px;
  margin-bottom:30px;
}

.gvut{
  border:none;
  margin-left:30px;
}

.tunder2{
  display:flex;
  flex-wrap: wrap;
  padding-left:10px;
  margin-top:20px;
  margin-bottom:30px;
}

.tuncate{
  margin-left:30px;
}

/* =================footer =================== */

footer{
    width:100%;
    height:430px;
    background:#292c34;
    margin-top:70px;
    font-family: 'paybooc-Medium';
    font-size:14px;
  }

  .canizo{
    width:1200px;
    height:60px;
    margin:0 auto;
    padding-bottom:40px;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
  }

  .canizo>div{
    margin-top:60px;
    
  }
  .canizo .ftlef a{
    color:#fff;
    padding-right:30px;
  }

  .ftrig{
    display:flex;
  }
  .ftnaver{
    width:19px;
    height:19px;
    background:url(/resources/img/naver.jpg)no-repeat center center;
    margin-right:20px;
   cursor:pointer;
  }

  .ftkakao{
    width:19px;
    height:19px;
    background:url(/resources/img/facebook.jpg)no-repeat center right;
    cursor:pointer;
  }

  .canizo2{
    width:1200px;
    margin:0 auto;
  }

  .canizo2 .quetday{
    color:#ffaf31;
    font-size:22px;
    font-weight:bold;
    letter-spacing: 7px;
    margin-top:30px;
    margin-bottom:30px;
  }

  .fotinf{
    color:#fff;
    line-height: 30px;
  }
  
  .fotinf2{
    color:#fff;
    margin-top:30px;
  }
