

*{
    margin:0;
    padding:0;
}
#totalMenu{
    width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: flex-start;
	
}
#navMenu{
    width: 30%;
    height: 580px;
    display: flex;	
    flex-direction: column;
    justify-content: flex-start;

}
#wrapInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
    border:1px solid transparent;
	border-radius: .25em; 
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	padding: 10px;
}
#wrapInfo2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid transparent;
	border-radius: .25em; 
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	padding: 10px;
}
#wrapInfo3{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:1px solid transparent;
	border-radius: .25em; 
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	padding: 10px;
}
.mypageMenu{
    height: 50%;
    width: 400px;
    padding: 10px 0 0 0;
}
.mypageMenu h5{
    text-align: center;
}


.uInfo{
    margin-top: 3% auto auto 3%;
    width: 80%;
    height: 250px;
    display: flex;
    border:1px solid transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: .25em; 
    flex-direction: column;
    justify-content: center;
}
.uInfo img{
    margin: 0 auto;
    width: 25%;
}
.info{
    margin-top: 10%;
    width: 80%;
    border-color:transparent;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	border-radius: .25em; 
    
}
.info button{
	border: 0;
    outline: 0;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    background-color: #ffaf31;
    height: 40px;
    width: 100%;
}
.info button:hover{
	color: pink;
	transition: 1s;
}


.list{
    margin: 0 0 0 0;
    max-width: 100%;
    height: 200px; 
    overflow:visible;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    box-sizing:border-box;
}
  .list::-webkit-scrollbar {
    width: 10px;
  }
  .list::-webkit-scrollbar-thumb {
    background-color: #ffaf31;
    border-radius: 10px;
  }
  .list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .list2{
    margin: 0 0 0 0;
    max-width: 100%;
    height: 20%; 
    overflow:visible;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    box-sizing:border-box;
}
  .list2::-webkit-scrollbar {
    width: 10px;
  }
  .list2::-webkit-scrollbar-thumb {
    background-color: #ffaf31;
    border-radius: 10px;
  }
  .list2::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
.smallList{
    flex: 0 0 auto;
    margin-right: 2.5%;
    height: 100%;
    width: 23%;
    border-radius: .25em;
    border-color: transparent;
    border: none;  
    box-sizing:border-box;
    position: relative;
}
.smallList img{
	position: absolute;
	border-radius: .4em;
	top: 0;
	left: 0;
	width:100%;
	height:80%;	
	background-color:white;
	z-index:1;
	opacity:1;
	transition:all 0.5s ease-in;
}

.smallList p{
	position: absolute;
	top: 80%;
	width: 100%;
	left: 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: center;
	
}
.detailBtn{
	color: white;
    font-size: 18px;
    background-color: #ffaf31;
    border:none;
    border-radius: 0.25em;
	position: absolute;
	top:20%;
	width:100%;
	height: 33.11px;
	opacity:inherit;
	transition:all 0.5s ease-in;
	z-index: inherit;

}

.dropBtn{
	color: white;
    font-size: 18px;
    background-color: #ffaf31;
    border:none;
    border-radius: 0.25em;
	position: absolute;
	top:60%;
	width:100%;
	height: 33.11px;
	opacity:inherit;
	transition:all 0.5s ease-in;
	z-index: inherit;

} 
.detailBtn2{
	color: white;
    font-size: 18px;
    background-color: #ffaf31;
    border:none;
    border-radius: 0.25em;
	position: absolute;
	top:40%;
	width:100%;
	height: 33.11px;
	opacity:inherit;
	transition:all 0.5s ease-in;
	z-index: inherit;

}
.pwdInput{
	display: flex;
	height:50%;
	flex-direction: column;
	justify-content: center;
	margin-right:100px;
}
.pwdInput h3{
	text-align: center;
}
.word{
	color: pink;
}
.inputPwd{
	margin-left:25%;
	box-sizing: border-box;
	width: 50%;
	height: 40px;
	padding: 8px 0px 6px 6px;
}

.modifyBtn2{
	margin-left:25%;
	margin-top:5%;
	width: 50%;
	height: 40px;
	color: white;
	background-color: #ffaf31;
    border:none;
    border-radius: 0.25em;
}
.pwWord{
	margin: 8px 0 8px 25%;
	/* margin-left: 25%; */
}
.modifyInfo{
	text-align:center; 
}
#preview img{
	width: 100px;
	height: 120px;
	margin-right:100px;
    margin-bottom:5px;
}
.userInfo{
	width: 380px;
	margin: 0 0 15px 210px;
	text-align: left;
}
.userInfo input{
	width: 288px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
       
}
button.swal-button.swal-button--cancel{
	background-color: #efefef;
}

.userInfo2{
	margin-left: 210px;
	width: 600px;
}
.smallInfo{
	margin: 0 0 5px 0;
	text-align: left;
}
.smallInfo select{
	width:145px;
    height:30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 2px;
    padding-left: 5px;
}
#phoneDuplicateCheck{
	width: 70px;
    height: 30px;
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid #ffaf31;
    background: #fff;
    color: #ffaf31;
}
.detailInfoSpan{
	 width: 300px; 
	 display:inline-block;
}
.labelSt{
	 width: 120px;
	 margin: 10px 0 10px 0;
	 display:inline-block;
}

.uploadDiv label{
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: orange;
  cursor: pointer;
  border: orange;
  border-radius: .25em;
  margin-right: 100px;
}
#uploadBtn{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.modifyBtn{
	margin-top:5px;
	width: 300px;
	height: 40px;
	margin-right: 100px;
	color: white;
	background-color: #ffaf31;
    border:none;
    border-radius: 0.25em;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  vertical-align: middle;
}

    
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  position: fixed;
	left: 33.3%;
	top: 40%;
}
.modal-content button{
	width: 20%;
	height: 40px;
	margin: 0 auto;
	border-radius: .25em;
	border: none;
    background-color: orange;
    border: solid;
    border-color: orange;
}
.swal-button{
	background-color: #ffaf31;
}
.noClub{
	height: 90%;
}
.list a{
	color:black;
	height: 100%;
}
.list a:link{
	color:black;
}
#clubList{
	height: 35px;
	width: 30%;
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow:ellipsis;
}
#tHead th{
	border-bottom: 1px solid #ffaf31;
}
#tFoot th{
	border-top: 1px solid #ffaf31;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #333 !important;
    border: 1px solid #ffaf31 !important;
    background-color: #ffaf31 !important;
    background: #ffaf31 !important;
}