

*{
    margin:0;
    padding:0;
}

#totalMenu{
    width: 1200px;
    height: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
	
}
#navMenu{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
#wrapInfo{
    width: 60%;
    display: flex;
    flex-direction: column;
    

}
.mypageMenu{
    height: 50%;
    position: sticky;
    top: 0;
}
.mypageMenu h5{
    text-align: center;
}


.uInfo{
    margin-top: 3% auto auto 3%;
    width: 100%;
    height: 300px;
    display: flex;
    border:1px solid #ffaf31;;
	border-radius: .25em; 
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.uInfo img{
    margin: 0 auto;
    width: 20%;
    height: 20%;
}
.info{
    margin-top: 10%;
    border-color:transparent;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.info button{
	border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
    background-color: #ffaf31;
    width: 100%;
}
.info button:hover{
	color: yellow;
	transition: 1s;
}
.accordionBtn {
	border: 0;
    outline: 0;
    color: white;
 	outline: none;
  	font-size: 15px;
  	transition: 1s;
}

.activeAcco, .accordionBtn:hover {
	background-color: pink; 
}


.accordian {
	display: none;
	background-color: pink;
	overflow: hidden;
}
.accordian button{
	background-color: pink;
}

.list{
    margin: 0 0 0 10%;
    max-width: 80%;
    height: 20%; 
    overflow:visible;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    box-sizing:border-box;
}
  .list::-webkit-scrollbar {
    width: 10px;
  }
  .list::-webkit-scrollbar-thumb {
    background-color: #ffaf31;
    border-radius: 10px;
  }
  .list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
.smallList{
    flex: 0 0 auto;
    height: 100%;
    width: 192px;
    border:1px solid #ffaf31;;
    border-radius: .25em;  
    border: solid;
    border-color: black;
    box-sizing:border-box;
}