@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'paybooc-Medium';
}
.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  background: #eee;
  color: #666;
}

#makeChat{
	display: none;
	background: #9bbbd4; /* 하늘색*/
	
}
#make{
	background: #ffaf31;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
	justify-content: space-between; 
	margin: 10px;
	float: right;
}
#enterChat{
	display: none;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #eee;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
	margin-right: 10px;
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
    margin-bottom: 3px;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  background: #fff;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: #fef01b;
  color: #000;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  width: 100%;
  display: flex;
  border-top: 2px solid #ddd;
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
  background-image: none;
  margin: 10px;
}
#message{
	background-image: none;
}	
.msger-send-btn {
  margin: 10px;
  background: #f7e600;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: #f7e600;
  color: #000;
}

#enter{
	width: auto;
    background: #ffaf31;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    float: right;
    padding: 10px;
}
.form-inline{
	border : 1px solid black;
}

#chatroom{
	background: #9bbbd4;
}