/* ============= 날씨 =============== */
.header_in3 {
	width: 560px;
	height: 120px;
	background: rgba(255, 179, 49, 0.3);
	border-radius: 15px;
	display: flex;
	margin-top: 20px;
}

.header_weekday {
	display: flex;
	overflow: hidden;
	padding: 0px;
}

.header_in3 .header_weekday li {
	width: 70px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.header_weekday h4 {
	font-size: 20px;
	padding-top: 5px;
	letter-spacing: 5px;
	color: #999;
}

.header_weekday img {
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
}

.header_weekday p {
	font-size: 18px;
	color: #666;
}

/* ================= 업로드 블로그 style ================= */
/* .inputArea {
	margin: 10px 0px;
}
 */
label {
	display: inline-block;
	width: 70px;
	padding: 5px;
}

form {
	padding-top: 16px;
}
.select_img img {
	margin: 20px 0px;
}

input#gdsImg {
	padding: 10px 0px 0px 20px;
}

/* 해시태그 구현 */
div#hash {
	display: flex;
}

#hashTagDiv ul {
	padding: 16px 0;
}

#hashTagDiv ul li {
	display: inline-block;
	margin: 3px 5px;
}


#hashTagDiv ul li.tag-item {
	padding: 4px 8px;
	background-color: orange;
	color: white;
}

#hashTagDiv .tag-item:hover {
	background-color: #262626;
	color: #fff;
}

#hashTagDiv .del-btn {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 8px;
}

.thumbImg {
	width: 200px;
	height: auto;
}

/* =================카카오맵================= */
#keyword {
	border: 1px solid #ff9f40;
}

#map {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/* =================새로운 CSS================= */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background: #fff;
}

header, section, footer {
	width: inherit;
}

/* =================section================= */
section {
	width: 100%;
	margin-top: 120px;
}

#container {
	width: 1400px;
	margin: 0 auto;
	display: flex;
}

.section_in {
	width: 600px;
	/* margin: 0 auto; */
	/*background:#333;*/
}

.section_header>h2 {
	font-size: 30px;
	margin-top: 30px;
	color: #333;
	letter-spacing: 5px;
	font-weight: 900;
}

.section_header>p {
	color: #666;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-weight: 100;
}

.half {
	font-size: 25px;
	font-weight: bold;
	background: linear-gradient(to top, rgba(255, 175, 49, 0.7) 50%, transparent 50%);
}

/* =================form================= */
#tag-form {
	width: 600px;
	/*height:1000px;*/
	margin: 30px auto;
	/*background:#333;*/
}

#modifyForm {
	width: 600px;
	/*height:1000px;*/
	margin: 30px auto;
	/*background:#333;*/
}


form > .form-stxt {
	text-align: right;
	color: #666;
	font-size: 12px;
	font-weight: 100;
	margin-right: 10px;
}

form hr {
	width: 600px;
	height: 2px;
	margin: 15px 0;
	background: #ffaf31;
	/*border-bottom:none;
	border-left:none;
	border-right:none;*/
	border: none;
}

fieldset {
	width: 600px;
	/* padding: 20px; */
	border: none;
}

.formContent>div {
	color: #333;
	width: 750px;
	border-bottom: 1px dotted #9b9b9b;
	padding: 20px 0;
}

.formContent div:first-child {
	padding-top: 5px;
}

.formContent div:last-child {
	border-bottom: none;
}

.formContent label {
	display: inline-block;
	width: 230px;
	color: #666;
	/*background:#666;*/
}

.formContent span {
	display: inline-block;
}

.agreebox {
	color: #333;
}

.agreebox>p {
	text-align: center;
}

.btn_faq {
	text-align: center;
}

/* btn-default는 modify에서 사용됨 */
.btn_faq2, .btn-default {
	margin-top: 30px;
    background: linear-gradient(to top, rgba(255, 175, 49, 0.7) 40%, transparent 40%);    
    padding: 10px 0px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px;
}

textarea {
	width: 420px;
	height: 100px;
	margin-bottom: 10px;
	/* float: left; */
	border: 1px solid #ccc;
}

/* =================사용자 입력칸================= */

/* input이 어떻게 나오는지 보여주는 곳!!! */
select {
	width: 160px;
	height: 35px;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	margin-top: 10px;
	padding-left: 10px;
	color: #999;
}

input {
	width: 260px;
	height: 30px;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	margin-top: 10px;
	padding-left: 10px;
	color: #999;
}

input[type="number"] {
	width: 50px;
	text-align: center;
	font-size: 18px;
}

input[required], select[required] {
	border: 1px solid #ff9f40;
}

input#keyword {
	border-radius: 0px;
	margin: 8px 0;
    width: 110px;
    padding-left: 10px;
}

input[type="datetime-local"] {
	width: 265px;
}

input[type="file"] {
	width: 200px;
}

img {
	margin: 0px;
}

input::placeholder {
 	color: #999;
    font-size: 8px;
}

textarea {
	border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 10px;
    color: #999;
}

